:root {
  --primary: #022234;
  --white: #ffffff;
  --background: #F5F5F5;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--white);
  font-family: sans-serif;
  min-height: 100vh;
}